
.header {
    background-color: #282c34;
    color: white;
    min-height: 14vh;
    padding-top: 50px;
    padding-left: 20px;
  }

.h1 {
  font-size: calc(30px + 2vmin);
  align-items: left;
  flex-direction: column;  
  display: flex; 
}

.h2 {
  color: purple;
  text-align: center;
}

.nav {
  font-size: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.submit {
  align-self: center;
  color: #3f8cb5;
}

.visibility-hidden {
    visibility: hidden;
  }
  /* calc(30px + 2vmin); */