
.container {
  padding-top: 50px;
  align-items: stretch; 
  flex-wrap: wrap;
}
.header {
    background-color: #282c34;
    color: white;
    min-height: 14vh;
    padding-top: 50px;
    padding-left: 20px;
    font-size: calc(30px + 2vmin);
  }

.h1 {
  align-content: space-between;
  padding-top: 0;
  margin-top: 0;
  font-size: calc(30px + 2vmin);
  align-items: left;
  flex-direction: column;  
  display: flex; 
  align-self: flex-end;
}

.h2 {
  margin-top: 15%;
  color: purple;
  text-align: center;
}

.h3 {
  color: purple;
  text-align: center;

}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  align-self: flex-start;
  list-style-type: none;
  margin-top: 0;
  padding-top: 0;
  overflow: hidden;
  background-color: #333;
  float: left;
}

.nav {
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: inline;
}
.nav {
  float: left;
}


.nav a {
  display: block;
  color: #8881f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.submit {
  align-self: center;
  color: #3f8cb5;
}
