
.container {
  padding-top: 50px;
  align-items: stretch; 
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
}
.header {
    background-color: #282c34;
    color: white;
    min-height: 14vh;
    padding-top: 50px;
    padding-left: 20px;
    font-size: calc(30px + 2vmin);
  }

  .title {
  align-content: center;
  padding-top: 15%;
  margin-top: 0;
  font-size: calc(30px + 2vmin);
  align-items: left;
  flex-direction: column;  
  display: flex; 
  align-self: flex-end;

  }

.h1 {
  align-content: center;
  padding-top: 0;
  margin-top: 0;
  font-size: calc(30px + 2vmin);
  align-items: left;
  flex-direction: column;  
  display: flex; 
  align-self: flex-end;
}

.greeting {
  color: purple;
  text-align: center;
  font-size: calc(30px + 2vmin);
  flex: none;
  padding-top: 10%;
}

.h3 {
  color: purple;
  text-align: center;

}
.navBar{
  padding-left: 0;
  margin: 0 auto;
}

.nav {
  margin: 0 auto;
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: flex;
  float: left;
}

.nav a {
  display: flex;
  color: #02375F;
  text-align: left;
  padding: 14px;
  text-decoration: none;
}

.submit {
  align-self: center;
  color: #3f8cb5;
}

.footer {
  background-color:#36273F;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 12px;
}


