  .form {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    flex-direction: column;
    padding-top: 10px;
  }

  .form-group{
    align-content: flex-start;
    padding-top: 20px;
  }

  .title {
    color: purple;
    display: flex;
    justify-content: center;
  }
  .register {
    display: flex;
    justify-content: center;

  } 

  .help-block {
    color: red;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    flex-direction: column;
    margin-right: 40px;
    align-content: flex-start;
  }

  .submitButton {
    flex-direction: column;
    color: #3f8cb5;
  }