  .paper {
    height: 100%;
  }
  
  .form {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    margin-top: 0%;
    flex-direction: row;
    padding-top: 10px;

  }

  .form-group{
    justify-content: space-evenly;
    align-content: flex-start;
    margin: 20px;
    padding-top: 20px;
    padding-left: 20px;
    align-items: stretch;
  }

  .title {
    color: purple;
    display: flex;
    justify-content: center;
  }
  .register {
    display: flex;
    justify-content: center;

  } 

  .help-block {
    color: red;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: row;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    margin-top: 0%;
    flex-direction: row;
    padding-top: 10px;
  }

  .submitButton {
    flex-direction: column;
    color: #3f8cb5;
  }