  .paper {
    height: 100%;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 0%;
    flex-direction: row;
    padding-top: 10px;

  }

  .form-group{
    justify-content: space-evenly;
    align-content: flex-start;
    margin: 20px;
    padding-top: 20px;
    padding-left: 20px;

  }


  .space{
    width: 20%;
  }

  .title {
    color: purple;
    display: flex;
    justify-content: center;
  }

  .help-block {
    color: red;
    justify-content: space-evenly;
    align-content: flex-start;
    padding-left: 20px;
    align-items: stretch;
  }

  .login{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-content: space-between;
    margin-top: 0%;
    flex-direction: row;
    padding-top: 10px;
    margin-left: 25%;
  }
  
  .form-button{
    align-self: center;
    padding: 20px;
  }

  .register{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-content: space-between;
    margin-top: 0%;
    flex-direction: row;
    padding-top: 10px;
    margin-left: 13%;
  }

  .register-button{
    padding-top: 5%;
  }