  .form {
    justify-content: center;
    padding-block: 20px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title {
    color: purple;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .register {
    display: flex;
    justify-content: center;
    margin: 20px;
  } 

  .help-block {
    color: red;
  }

  .form-group {
    justify-content: center;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
